<div class="comments">
  {% assign comments = site.data.comments[page.slug] %}
  {% if comments.size > 0 %}
    <h2>{{ comments.size }} comentário{% if comments.size > 1 %}s{% endif %}.</h2>
    <ul>
      {% assign sorted_comments = comments | sort %}
      {% for comment in sorted_comments %}
        <li>
          <p class="author-name">{{ comment[1].name }}</p>
          <p class="comment-date">{{ comment[0] }}</p>
          <span class="comment-message">{{ comment[1].message | markdownify }}</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h2>Ninguem comentou este post ainda.</h2>
  {% endif %}

  <form method="POST" action="https://api.staticman.net/v2/entry/tnaires/horizons/master/comments">
    <input name="options[redirect]" type="hidden" value="{{ page.url | absolute_url }}">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <h3>Deixe um comentário!</h3>
    <label for="name">Nome:</label>
    <br>
    <input id="name" type="text" name="fields[name]" class="input-control" maxlength="50">
    <br>
    <label for="message">Mensagem (sintaxe <a href="https://kramdown.gettalong.org/quickref.html">Markdown</a> habilitada):</label>
    <br>
    <textarea id="message" name="fields[message]" class="input-control"></textarea>
    <br>
    <button type="submit">Comentar</button>
    <span>(sujeito a moderação)</span>
  </form>

  <script>
    $('.comment-date').each(function() {
      let $element = $(this);
      let parsedDate = moment(parseInt($element.text())).format("DD/MM/YYYY [às] HH:mm");
      $element.text(parsedDate);
    });
  </script>
</div>
