<div class="comments">
  {% assign comments = site.data.comments[page.slug] | sort %}
  {% if comments.size > 0 %}
    <h2>{{ comments.size }} comentário{% if comments.size > 1 %}s{% endif %}.</h2>
    <ul>
      {% for comment in comments %}
        <li>
          <p class="author-name">{{ comment[1].name }}</p>
          <p class="date">{{ comment[1].date | date: "%d/%m/%Y às %H:%M" }}</p>
          <span class="message">{{ comment[1].message | markdownify }}</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h2>Ninguem comentou este post ainda.</h2>
  {% endif %}

  <form method="POST" action="https://api.staticman.net/v2/entry/tnaires/horizons/master/comments">
    <input name="options[redirect]" type="hidden" value="{{ page.url | absolute_url }}">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <h3>Deixe um comentário!</h3>
    <label for="name">Nome:</label>
    <br>
    <input id="name" type="text" name="fields[name]" class="input-control" maxlength="50">
    <br>
    <label for="message">Mensagem (sintaxe <a href="https://kramdown.gettalong.org/quickref.html">Markdown</a> habilitada):</label>
    <br>
    <textarea id="message" name="fields[message]" class="input-control"></textarea>
    <br>
    <button type="submit">Comentar</button>
    <span>(sujeito a moderação)</span>
  </form>
</div>
