{% assign posts = include.posts %}
{% if posts.size > 0 %}
  <ul>
    {% for post in posts %}
      <li class="post-info">
        <p class="section">{{ post.section }}</p>
        <h2 class="title"><a href="{{ post.url | relative_url  }}">{{ post.title }}</a></h2>

        {% assign comments = site.data.comments[post.slug] %}
        <p class="published-date">
          Publicado por {{ post.author }} em {{ post.date | date: "%d/%m/%Y" }}
          <img src="{{ "/assets/images/comments.png" | relative_url }}" />
          {% if comments.size > 0 %}
            ({{ comments.size }})
          {% else %}
            (0)
          {% endif %}
        </p>
        <p class="excerpt">{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="msg">Nenhum post disponível ainda. Volte depois!</p>
{% endif %}
