{% assign posts = include.posts %}
{% if posts.size > 0 %}
  <ul>
    {% for post in posts %}
      <li class="post-info">
        <p class="section">{{ post.section }}</p>
        <h2 class="title"><a href="{{ post.url | relative_url  }}">{{ post.title }}</a></h2>
        <p class="published-date">Publicado em {{ post.date | date: "%d/%m/%Y" }}</p>
        <p class="excerpt">{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="msg">Nenhum post disponível ainda. Volte depois!</p>
{% endif %}
