---
---
@font-face {
  font-family: 'Corbert';
  src:
    url('{{ "/assets/fonts/Corbert-Regular.otf" | relative_url }}')
    format('opentype');
}

$font-stack: 'Corbert', sans-serif;
$font-size: 18px;

$wet-aslphalt: #34495e;
$silver: #bdc3c7;
$peter-river: #3498db;
$wisteria: #8e44ad;
$pumpkin: #d35400;
$nephritis: #27ae60;
$clouds: #ecf0f1;

html {
  body {
    margin: 0 auto;
    font: $font-size $font-stack;
    color: $wet-aslphalt;

    a {
      text-decoration: none;
      font-weight: bold;
    }

    a:link {
      color: $peter-river;
    }

    a:visited {
      color: $wisteria;
    }

    a:hover {
      text-decoration: underline;
      color: $pumpkin;
    }

    a:active {
      color: $nephritis;
    }

    header {
      height: 150px;
      background-repeat: repeat-x;
      position: relative;

      @media screen and (min-width: 841px) {
        background-size: contain;
      }

      @media screen and (max-width: 840px) {
        background-size: cover;
      }

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 350px;
      }
    }

    nav {
      margin: 0 auto;
      text-align: center;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      border-bottom: 1px solid $silver;

      a {
        padding-left: 0.4em;
        padding-right: 0.4em;
      }
    }

    main {
      @media screen and (min-width: 800px) {
        width: 90%;
      }

      @media screen and (max-width: 799px) {
        width: 100%;
      }

      margin: 0 auto;
      line-height: 1.7;

      .msg {
        padding-top: 1em;
        text-align: center;
      }

      .post-info {
        .section {
          margin: 0;
          font-weight: bold;
        }

        .title {
          margin: 0;
          line-height: 1.2;
        }

        .published-date {
          margin: 0;
          font-size: 12px;
        }
      }

      .section-title {
        margin-top: 0;
        margin-bottom: 0;
      }

      .section-description {
        margin-top: 0;
      }

      article {
        padding: 2em;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 2em;

        li {
          margin-bottom: 1.5em;

          &:last-child {
            margin-bottom: 0;
          }

          .excerpt {
            margin-top: 0.2em;
          }
        }
      }

      .comments {
        @media screen and (min-width: 800px) {
          width: 600px;
          margin: 0 auto 0 auto;
        }

        @media screen and (max-width: 799px) {
          max-width: 100%;
          margin: 0 2em 0 2em;
        }

        h2 {
          margin-top: 0;
        }

        ul {
          padding: 0;

          li {
            border-bottom: 1px solid $silver;
          }

          li:last-child {
            margin-bottom: 1.5em;
            border-bottom: 0;
          }

          .author-name {
            margin: 0;
            font-weight: bold;
            font-size: 20px;
          }

          .date {
            margin: 0;
            font-size: 12px;
          }

          .message p {
            margin-top: 0.2em;
            line-height: 1.4em;
          }
        }

        form {
          border: 1px solid $wet-aslphalt;
          padding: 1.5em;
          background-color: $clouds;

          .input-control {
            font-size: 14px;
            width: 100%;
            border: 1px solid $wet-aslphalt;

            &:focus {
              outline: none;
            }
          }

          input {
            height: 25px;
          }

          textarea {
            height: 200px;
            resize: vertical;
          }

          button {
            margin-top: 0.5em;
            font-size: 18px;
            border: 1px solid $wet-aslphalt;
            color: $wet-aslphalt;
            background-color: white;

            &:hover {
              color: $clouds;
              background-color: $wet-aslphalt;
            }
          }
        }
      }
    }
  }
}
